/*
Theme Name: newtheme
Theme URL: http://www.siliconorchard.com/
Autor: abs
Autor URL: http://www.siliconorchard.com/
Description: This is custom made wordpress theme as a practice
Tags: Basic theme, test, practic, multipurpose
*/


body {
    color: red;
    background-color: yellowgreen;
    word-wrap: break-word;
    font-family: 'Lora', serif;
    line-height: 2;
    font-size: 14px;
}